/* ELEMENTOS */
.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

.grid {
    width: 100%;
    float: left;
}

@media (max-width: 549px) {
    .grid {
        margin-left: 1%;
        margin-right: 1%;
    }
        /*.grid:first-child {
            margin-left: 0;
        }*/

    .two { width: calc((100% * 4 / 12) - 2%); }
    .three { width: calc((100% * 6 / 12) - 2%); }
    .four { width: calc((100% * 8 / 12) - 2%); }
    .five { width: calc((100% * 12 / 12) - 2%); }
    .six { width: calc((100% * 12 / 12) - 2%); }
    .seven { width: calc((100% * 12 / 12) - 2%); }
    .eight { width: calc((100% * 12 / 12) - 2%); }
    .ten { width: calc((100% * 12 / 12) - 2%)}
}


@media (min-width: 550px) {
    .grid {
        margin-left: 1%;
        margin-right: 1%;
    }
        /*.grid:first-child {
            margin-left: 0;
        }*/

    .one { width: calc((100% / 12) - 2%); }
    .two { width: calc((100% * 2 / 12) - 2%); }
    .three { width: calc((100% * 3 / 12) - 2%); }
    .four { width: calc((100% * 4 / 12) - 2%); }
    .five { width: calc((100% * 5 / 12) - 2%); }
    .six { width: calc((100% * 6 / 12) - 2%); }
    .seven { width: calc((100% * 7 / 12) - 2%); }
    .eight { width: calc((100% * 8 / 12) - 2%); }
    .ten { width: calc((100% * 10 / 12) - 2%)}
}




/* ELEMENTOS */


/* ESPECIFICAÇÕES */


.side-padding{
    width: 100%;
    padding: 0 10%;
}
@media (max-width: 1225px){
    .side-padding{
        padding: 0;
    }
}

.center {
    text-align: center;
    margin: 0 auto;
}



/* ESPECIFICAÇÕES */